{% extends "base.html" %}

{% block conteudo %}
{% set modo_operacao_jogo =
    (modo_operacao if modo_operacao is defined and modo_operacao else '') 
    or (estado.get('modo_operacao_resolvido') if estado is mapping else estado.modo_operacao_resolvido|default('', true))
    or (estado.get('modo_operacao') if estado is mapping else estado.modo_operacao|default('', true))
    or (partida.get('modo_operacao_resolvido') if partida is mapping else partida.modo_operacao_resolvido|default('', true))
    or (partida.get('modo_operacao') if partida is mapping else partida.modo_operacao|default('', true))
    or 'simples'
%}
{% set nome_equipe_a_jogo = (partida.get('equipe_a_operacional') if partida is mapping else partida.equipe_a_operacional|default('', true)) or (partida.get('equipe_a') if partida is mapping else partida.equipe_a|default('', true)) or (estado.get('equipe_a_operacional') if estado is mapping else estado.equipe_a_operacional|default('', true)) or (estado.get('equipe_a') if estado is mapping else estado.equipe_a|default('', true)) or 'Equipe A' %}
{% set nome_equipe_b_jogo = (partida.get('equipe_b_operacional') if partida is mapping else partida.equipe_b_operacional|default('', true)) or (partida.get('equipe_b') if partida is mapping else partida.equipe_b|default('', true)) or (estado.get('equipe_b_operacional') if estado is mapping else estado.equipe_b_operacional|default('', true)) or (estado.get('equipe_b') if estado is mapping else estado.equipe_b|default('', true)) or 'Equipe B' %}
{% set nome_equipe_a_cadastro_jogo = (partida.get('equipe_a') if partida is mapping else partida.equipe_a|default('', true)) or (estado.get('equipe_a_cadastro') if estado is mapping else estado.equipe_a_cadastro|default('', true)) or nome_equipe_a_jogo %}
{% set nome_equipe_b_cadastro_jogo = (partida.get('equipe_b') if partida is mapping else partida.equipe_b|default('', true)) or (estado.get('equipe_b_cadastro') if estado is mapping else estado.equipe_b_cadastro|default('', true)) or nome_equipe_b_jogo %}
{% set escudo_equipe_a_jogo = (estado.get('escudo_a') if estado is mapping else estado.escudo_a|default('', true)) or (estado.get('escudo_a_operacional') if estado is mapping else estado.escudo_a_operacional|default('', true)) or '/static/img/escudo_padrao.svg' %}
{% set escudo_equipe_b_jogo = (estado.get('escudo_b') if estado is mapping else estado.escudo_b|default('', true)) or (estado.get('escudo_b_operacional') if estado is mapping else estado.escudo_b_operacional|default('', true)) or '/static/img/escudo_padrao.svg' %}

{% include 'apontador/components/avisos_operacao.html' %}

{% include 'apontador/components/mobile_operacao.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/apontador/01-base.css') }}">

{% include 'apontador/components/placar.html' %}

{% include 'apontador/components/area_jogo.html' %}

{% include 'apontador/components/modal_substituicao.html' %}

{% include 'apontador/components/modal_sancao.html' %}

{% include 'apontador/components/modal_cartao_verde.html' %}

{% include 'apontador/components/modal_ponto.html' %}

{% include 'apontador/components/modal_retardamento.html' %}

{% include 'apontador/components/modal_substituicao_excepcional.html' %}

{% include 'apontador/components/controles_rodape.html' %}

{% include 'apontador/components/modal_atalhos.html' %}

    <script src="{{ url_for('static', filename='js/realtime/delta_client.js') }}"></script>
    <script src="{{ url_for('static', filename='js/realtime/render_scheduler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/realtime/render_plan.js') }}"></script>
    <script src="{{ url_for('static', filename='js/realtime/connection_guard.js') }}"></script>
{% include 'apontador/components/runtime_assets.html' %}
{% endblock %}
