<div id="modal-atalhos-apontador" class="modal-atalhos-apontador" aria-hidden="true">
    <div class="modal-atalhos-card" role="dialog" aria-modal="true" aria-labelledby="modal-atalhos-titulo">
        <div class="modal-atalhos-topo">
            <h3 id="modal-atalhos-titulo">Teclas de atalho do apontador</h3>
            <button id="btn-fechar-atalhos-apontador" class="modal-atalhos-fechar" type="button">×</button>
        </div>

        <div class="atalhos-ajuda">
            Clique em uma ação, pressione a tecla desejada e depois salve. Os atalhos funcionam na tela do jogo, desde que nenhum campo de texto esteja selecionado.
        </div>

        <div class="atalhos-lista-apontador">
            <button type="button" class="atalho-item-apontador" data-atalho-acao="ponto_a"><span>+ ponto equipe da esquerda</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="ponto_b"><span>+ ponto equipe da direita</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="desfazer"><span>Desfazer última ação</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="tempo_a"><span>Tempo equipe da esquerda</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="tempo_b"><span>Tempo equipe da direita</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="substituicao_a"><span>Substituição equipe da esquerda</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="substituicao_b"><span>Substituição equipe da direita</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="sancao"><span>Sanção</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="cartao_verde"><span>Cartão verde</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="retardamento"><span>Retardamento</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="sub_excepcional"><span>Substituição excepcional</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="wo_a"><span>WO equipe da esquerda</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="wo_b"><span>WO equipe da direita</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="fullscreen"><span>Tela cheia</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="placar_ao_vivo"><span>Abrir placar ao vivo</span><strong class="atalho-tecla-apontador">-</strong></button>
            <button type="button" class="atalho-item-apontador" data-atalho-acao="inverter_lados"><span>Inverter lados</span><strong class="atalho-tecla-apontador">-</strong></button>
        </div>

        <div class="atalhos-acoes-apontador">
            <button id="btn-limpar-atalhos-apontador" class="atalhos-limpar" type="button">Limpar</button>
            <button id="btn-salvar-atalhos-apontador" class="atalhos-salvar" type="button">Salvar</button>
        </div>
    </div>
</div>
