<div id="retardamento-modal-fundo" class="sancao-modal-fundo">
    <div class="sancao-modal">
        <div style="font-size:18px; font-weight:900; color:#183247;">Retardamento</div>
        <div class="sancao-bloco">
            <div class="sancao-label">Equipe</div>
            <div id="retardamento-equipe-lista" class="sancao-lista"></div>
        </div>
        <div id="retardamento-resumo" class="sancao-resumo">Selecione a equipe que cometeu o retardamento.</div>
        <div class="sancao-acoes">
            <button id="btn-retardamento-cancelar" class="btn-secundario" type="button">Cancelar</button>
            <button id="btn-retardamento-confirmar" class="btn-padrao" type="button">Confirmar</button>
        </div>
    </div>
</div>
